/* COLORS /*
color-primary : #1976D2;
color-primary-dark : #0D47A1;
color-grey-dark : #424242;
*/

/* GENERAL */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    border: 4px solid #0D47A1;
    border-radius: 50%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30.5rem;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 300;
}

article {
    width: 50%;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
}

/* PARTIE ASIDE */
.infos {
    background-color: #1976D2;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.infos h3 {
    background-color: #424242;
    color: #1976D2;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

.infos p {
    color: #424242;
    font-size: 1.2rem;
}

.photo {
    padding: 4.5rem 0;
    text-align: center;
}

.perso, 
.about p, 
.hobbys__icons {
    padding: 3.5rem 4.5rem;
}

.perso p {
    margin-bottom: 2rem;
}

.perso p:last-child {
    margin-bottom: 0;
}

.perso a, 
.perso a:link, 
.perso a:visited {
    text-decoration: none;
    color: inherit;
}

.about {
    flex: 1;
}

.about p {
    text-align: justify;
}

.hobbys {
    text-align: center;
}

.hobbys__icons {
    display: flex;
    justify-content: space-evenly;
}

.hobbys .hobbys__icons .fa-file-code, 
.hobbys .hobbys__icons .fa-futbol, 
.hobbys .hobbys__icons .fa-gamepad {
    border: 2px solid #424242;
    border-radius: 50%;
    color: #424242;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
}

/* PARTIE MAIN */
.curriculum {
    width: 67%;
    padding-left: 4.5rem;
    padding-right: 3.5rem;
}

.prenom {
    color: #1976D2;
    font-weight: 400;
}

.heading__primary--sub span {
    border-bottom: 2px solid #1976D2;
}

.section__heading h3 {
    display: inline-block;
}

.list--item {
    display: flex;
    list-style-type: none;
}

.recommandation__container {
    display: flex;
}

/* MEDIA QUERIES */